@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

* {
  font-family: 'Supermercado One', cursive;
  color: black;
}

body {
  background-image: url("yugioh_wallpaper.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



